@using MethodicalSupportDisciplines.Shared.Dto.Learning
@using MethodicalSupportDisciplines.MVC.Helpers
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using MethodicalSupportDisciplines.Core.Entities.Learning
@model MethodicalSupportDisciplines.Shared.ViewModels.Learning.DisciplinesViewModel
@{
    ViewData["Title"] = ViewLocalization["Title"];
}

<div class="container search-container">
    <div class="row">
        @await Html.PartialAsync("Search/_CardsSearch")
        <div class="col-6h ">
            <div class="form-group">
                <label>Sort by </label>
                <select class="form-control">
                    <option>1</option>
                </select>
            </div>
        </div>
    </div>
</div>

<div class="container cards-container">
    @foreach (DisciplineActionDto discipline in Model.Disciplines)
    {
        <div class="card">
            <div class="card-header">
                <div>@ViewHelper.GetUserFullName(discipline.Teacher.FirstName, discipline.Teacher.LastName, discipline.Teacher.Patronymic)</div>
                <div>@ViewLocalization["MaterialsCount"]: @discipline.DisciplineMaterials.Count</div>
            </div>
            <div class="card-body">
                <h5 class="card-title">@discipline.DisciplineName</h5>
                <p class="card-text">@discipline.DisciplineDescription.Substring(0, Math.Min(200, discipline.DisciplineDescription.Length))</p>
                <a asp-controller="Teacher" asp-action="DisciplineData"
                   asp-route-disciplineId="@discipline.DisciplineId" class="btn btn-primary">
                    @ViewLocalization["Details"]
                </a>
            </div>
        </div>
    }
</div>

<div class="container">
    @await Html.PartialAsync("Pagination/_CardsPagination")
</div>

<button class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">New discipline</button>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
             <form asp-controller="Teacher" asp-action="CreateDiscipline" asp-antiforgery="true">
                 <div>
                     <input asp-for="CreateDisciplineViewModel.DisciplineName">
                 </div>
                 <div>
                     <input asp-for="CreateDisciplineViewModel.DisciplineDescription">
                 </div>
                 <div>
                     <input asp-for="CreateDisciplineViewModel.TeacherId" type="hidden" value="@ViewData["CurrentTeacherId"]">
                     <input asp-for="Discipline" type="hidden" value="@(new Discipline())">
                 </div>
                 <button type="submit">Create</button>
             </form>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
         </div>
      </div>
   </div>
</div>