@using MethodicalSupportDisciplines.MVC.Helpers
@using MethodicalSupportDisciplines.Shared.Dto.Users
@model MethodicalSupportDisciplines.Shared.ViewModels.Users.AdminGuestUsersViewModel

@{
    ViewData["Title"] = ViewLocalization["Title"];
}

<div class="table-container">
    <table class="users-table">
        <thead>
        <tr>
            <th>User ID</th>
            <th>Username</th>
            <th>Full name</th>
            <th>Email</th>
            <th>Phone number</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        @foreach (GetGuestUserDto user in Model.GuestUsers)
        {
            <tr>
                <td>@user.GuestUserId</td>
                <td>@user.UserName</td>
                <td>@ViewHelper.GetUserFullName(user.FirstName, user.LastName, user.Patronymic)</td>
                <td>@user.Email</td>
                <td>@ViewHelper.ConvertPhoneNumber(user.PhoneNumber)</td>
                <td>
                    <a asp-controller="Admin" asp-action="RemoveGuestUser" asp-route-userId="@user.GuestUserId"
                       class="text-danger">
                        @ViewLocalization["DeleteUserButton"]
                    </a>
                    <a asp-controller="Admin" asp-action="AssignStudentRole" asp-route-userId="@user.GuestUserId"
                       class="text-primary">
                        @ViewLocalization["AssignUserRole"]
                    </a>
                    <a asp-controller="Admin" asp-action="AssignTeacherRole" asp-route-userId="@user.GuestUserId"
                       class="text-primary">
                        @ViewLocalization["AssignTeacherRole"]
                    </a>
                </td>
            </tr>
        }
        </tbody>
        <tfoot>
        <tr>
            <td colspan="1">
                <button class="btn btn-primary filters-button" type="button">Filters</button>
            </td>
            <td class="guest-users-table-pagination" colspan="2">
                @await Html.PartialAsync("Pagination/_GuestUsersTablePagination")
            </td>
            <td class="guest-users-table-search" colspan="3">
                @await Html.PartialAsync("Search/_GuestUsersTableSearch")
            </td>
        </tr>
        </tfoot>
    </table>
</div>